<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginPrueba</servlet-name>
        <servlet-class>futbol.five.com.servlet.LoginPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>futbol.five.com.servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCanchas</servlet-name>
        <servlet-class>futbol.five.com.servlet.ListarCanchas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroPartido</servlet-name>
        <servlet-class>futbol.five.com.servlet.RegistroPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPartidos</servlet-name>
        <servlet-class>futbol.five.com.servlet.ListarPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>futbol.five.com.servlet.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mantenimiento</servlet-name>
        <servlet-class>futbol.five.com.servlet.Mantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUserListaE</servlet-name>
        <servlet-class>futbol.five.com.servlet.RegistrarUserListaE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUserListaS</servlet-name>
        <servlet-class>futbol.five.com.servlet.RegistrarUserListaS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPrueba</servlet-name>
        <url-pattern>/LoginPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCanchas</servlet-name>
        <url-pattern>/ListarCanchas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroPartido</servlet-name>
        <url-pattern>/RegistroPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPartidos</servlet-name>
        <url-pattern>/ListarPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/LoginAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mantenimiento</servlet-name>
        <url-pattern>/Mantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUserListaE</servlet-name>
        <url-pattern>/RegistrarUserListaE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUserListaS</servlet-name>
        <url-pattern>/RegistrarUserListaS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
